<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camellia.exam.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.camellia.exam.model.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userSex" column="userSex" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
            <result property="userProfile" column="userProfile" jdbcType="VARCHAR"/>
            <result property="userStatus" column="userStatus" jdbcType="BIGINT"/>
            <result property="userRole" column="userRole" jdbcType="VARCHAR"/>
            <result property="joinTime" column="joinTime" jdbcType="TIMESTAMP"/>
            <result property="userGrade" column="userGrade" jdbcType="VARCHAR"/>
            <result property="updateUser" column="updateUser" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>


    <!--TODO: 这个好像少了-->
    <sql id="Base_Column_List">
        id,userAccount,userPassword,
        userName,userAvatar,userProfile,
        userStatus,userRole,joinTime,
        userGrade,updateUser,createTime,
        updateTime,isDelete
    </sql>

</mapper>
